<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="firegento-cache-warmup" xsi:type="object">Firegento\CacheWarmup\Console\Command\CacheWarmup</item>
            </argument>
        </arguments>
    </type>
    <preference
            for="Firegento\CacheWarmup\Api\CacheRouteManagementInterface"
            type="Firegento\CacheWarmup\Model\CacheRouteManagement"
    />
    <preference
            for="Firegento\CacheWarmup\Api\CacheRouteRepositoryInterface"
            type="Firegento\CacheWarmup\Model\CacheRouteRepository"
    />
    <preference
            for="Firegento\CacheWarmup\Api\CacheTagManagementInterface"
            type="Firegento\CacheWarmup\Model\CacheTagManagement"
    />
    <preference
            for="Firegento\CacheWarmup\Api\RoutesTagsLinkManagement"
            type="Firegento\CacheWarmup\Model\RoutesTagsLinkManagement"
    />
    <preference
            for="Firegento\CacheWarmup\Api\CacheTagRepositoryInterface"
            type="Firegento\CacheWarmup\Model\CacheTagRepository"
    />
    <preference
            for="Firegento\CacheWarmup\Api\Data\CacheRouteInterface"
            type="Firegento\CacheWarmup\Model\Route\CacheRoute"
    />
    <preference
            for="Firegento\CacheWarmup\Api\Data\CacheTagInterface"
            type="Firegento\CacheWarmup\Model\Tag\CacheTag"
    />

    <preference
            for="Firegento\CacheWarmup\Api\CacheVaryDataRepositoryInterface"
            type="Firegento\CacheWarmup\Model\CacheVaryDataRepository"
    />

</config>
